.confirmation-container {
	text-align: center;
	padding: 50px;
	background: #f0fff0;
}

h1 {
	font-size: 2rem;
	color: #f3f3f3;
}

p {
	font-size: 0.8rem;
}

.confirmation-actions {
	display: flex;
	justify-content: center;
	gap: 15px;
}

button {
	background: #ffcc00;
	color: black;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background: #e6b800;
}