/*
	GLORY BE TO GOD,
	TIKETI-TAMASHA DASHBOARD STYLING,

	BY ISRAEL MAFABI EMMANUEL
*/

@import url('globals.css');

.tiketi-tamasha-dashboard {
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	position: relative;
	overflow: hidden;

	width: 100vw;
	height: calc(100vh - 120px);
	min-height: calc(100vh - 120px);

	.tiketi-tamasha-doodle-background {
		background-size: cover;

		position: absolute;

		z-index: 1;

		width: 80%;
		height: 80%;
	}

	.tiketi-tamasha-section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		padding: 14px;

		z-index: 2;

		min-width: 500px;
		height: 100%;

		.home {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			gap: 2px;

			width: 100%;
			height: fit-content;

			.tiketi-tamasha-section-heading {
				font-size: 32px;
				font-weight: normal;

				width: fit-content;
				height: fit-content;

				b {
					font-weight: 300;
					text-decoration: underline;
				}

				.fade-text {
					font-weight: 400;
					background: linear-gradient(to right, #0058ff, #c9e0ff);
					background-clip: border-box;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-family: "Poppins";
				}
			}

			.tiketi-tamasha-landing-explainer {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 16px;

				text-align: center;

				width: fit-content;
				height: fit-content;
			}

			.tiketi-tamasha-btn {
				background: var(--tiketi-tamasha-cool-white);
				border-radius: 20px;

				color: var(--tiketi-tamasha-cool-black);

				font-size: 13px;
				font-weight: normal;

				display: flex;
				align-items: center;
				justify-content: center;

				margin: 0px;
				margin-top: 14px;
				padding: 0px;

				gap: 4px;

				width: 200px;
				height: 35px;
			}
		}

		.tickets {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* Changed */
			flex-direction: column;

			width: 500px;
			height: calc(100% - 14px);
			/* Adjusted */

			.tiketi-tamasha-section-heading {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 32px;
				font-weight: normal;

				margin-bottom: 14px;

				width: inherit;
				height: 50px;
				min-height: 50px;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				/* Adjusted */
				flex-direction: column;
				gap: 14px;

				box-sizing: border-box;

				padding: 14px;
				overflow-y: auto;

				height: 100%;
				/* Adjusted */
			}
		}

		.payments {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* Changed */
			flex-direction: column;

			width: 500px;
			height: calc(100% - 14px);

			.tiketi-tamasha-section-heading {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 32px;
				font-weight: normal;

				margin-bottom: 14px;

				width: inherit;
				height: 50px;
				min-height: 50px;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				/* Adjusted */
				flex-direction: column;
				gap: 14px;

				box-sizing: border-box;

				padding: 14px;
				overflow-y: auto;

				height: 100%;
				/* Adjusted */
			}
		}

		.events {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* Changed */
			flex-direction: column;

			width: 500px;
			height: calc(100% - 14px);

			.tiketi-tamasha-section-heading {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 32px;
				font-weight: normal;

				width: inherit;
				height: 50px;
				min-height: 50px;
			}

			.tiketi-tamasha-page-disclaimer {
				color: var(--tiketi-tamasha-cool-gray-);
				font-size: 13px;

				width: inherit;
				height: fit-content;
				min-height: 40px;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				/* Adjusted */
				flex-direction: column;
				gap: 14px;

				box-sizing: border-box;

				padding: 14px;
				overflow-y: auto;

				height: 100%;
				/* Adjusted */
			}
		}

		.upcoming {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* Changed */
			flex-direction: column;

			width: 500px;
			height: calc(100% - 14px);
			/* Adjusted */

			.tiketi-tamasha-section-heading {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 32px;
				font-weight: normal;

				margin-bottom: 14px;

				width: inherit;
				height: 50px;
				min-height: 50px;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				/* Adjusted */
				flex-direction: column;
				gap: 14px;

				box-sizing: border-box;

				padding: 14px;
				overflow-y: auto;

				height: 100%;
				/* Adjusted */
			}
		}

		.settings {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* Changed */
			flex-direction: column;

			width: 500px;
			height: calc(100% - 14px);
			/* Adjusted */

			.tiketi-tamasha-section-heading {
				color: var(--tiketi-tamasha-cool-white);
				font-size: 32px;
				font-weight: normal;

				margin-bottom: 14px;

				width: inherit;
				height: 50px;
				min-height: 50px;
			}

			.tiketi-tamasha-settings-disclaimer {
				color: var(--tiketi-tamasha-cool-gray-);
				font-size: 13px;

				width: inherit;
				height: fit-content;
				min-height: 70px;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				/* Adjusted */
				flex-direction: column;
				gap: 14px;

				box-sizing: border-box;

				padding: 14px;
				overflow-y: auto;

				width: inherit;
				height: 100%;
				/* Adjusted */

				.container-section {
					border: 1px dashed var(--tiketi-tamasha-cool-gray-);
					border-radius: 14px;

					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					gap: 14px;

					padding: 14px;

					width: inherit;
					height: fit-content;
					min-height: 50px;

					.container-section-title {
						color: var(--tiketi-tamasha-cool-white-tr);
						font-size: 13px;

						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-direction: column;

						width: 100%;
						height: fit-content;
					}

					.container-section-action {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						gap: 14px;

						width: 100%;
						height: fit-content;

						input {
							margin: 0;
							width: inherit;
						}

						button {
							margin: 0;
							width: inherit;
						}

						.tiketi-tamasha-btn.red {
							color: var(--tiketi-tamasha-cool-red);
						}
					}
				}
			}
		}
	}
}