/*
    GLORY BE TO GOD,
    TIKETI TAMASHA - BACKEND,
    By Israel Mafabi Emmanuel
*/

@import url('Button.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --tiketi-tamasha-cool-black: rgb(0, 0, 0);
    --tiketi-tamasha-cool-gray: #96b8f939;
    --tiketi-tamasha-cool-gray-: #96b8f97b;
    --tiketi-tamasha-cool-white: white;
    --tiketi-tamasha-cool-white-d: rgb(210, 210, 210);
    --tiketi-tamasha-cool-blue: rgb(38, 103, 176);
    --tiketi-tamasha-cool-red: rgb(253, 82, 34);
    --tiketi-tamasha-cool-green: rgb(118, 253, 34);

    --tiketi-tamasha-cool-gray--: #9dbcf519;
    --tiketi-tamasha-cool-white-tr: rgba(255, 255, 255, 0.6);
    --tiketi-tamasha-cool-blue-br: rgb(69, 148, 239);
    --tiketi-tamasha-theme-cool-blue: #0e398d;
    --tiketi-tamasha-theme-cool-dark-blue: #081630;
    --tiketi-tamasha-theme-cool-dark-b-tr: #0816308c;
    --tiketi-tamasha-theme-cool-dark-d-tr: #051025ab;

    --tiketi-tamasha-theme-cool-dark---: #030c1c7d;

    --tiketi-tamasha-default-font: "Poppins", sans-serif;
}

* {
    font-family: var(--tiketi-tamasha-default-font) !important;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -moz-user-select: none;

    transition: 500ms;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--tiketi-tamasha-cool-white);
    border-radius: 4px;
}

body {
    background: linear-gradient(135deg, var(--tiketi-tamasha-cool-black), var(--tiketi-tamasha-theme-cool-blue));

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-width: 280px;
    height: fit-content;

    .tiketi-tamasha-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        width: 100vw;
        height: 100vh;
        min-height: 100vh;
    }
}

.tiketi-tamasha-input::placeholder {
    color: var(--tiketi-tamasha-cool-gray-);
    font-size: 13px;

    text-align: left;

    margin: 0px;
}

.tiketi-tamasha-input {
    background: transparent;
    border: 1px solid var(--tiketi-tamasha-cool-gray);
    border-radius: 14px;

    font-size: 13px;
    color: var(--tiketi-tamasha-cool-white);

    text-align: left;

    padding-left: 21px;
    padding-right: 21px;

    margin-left: 0;
    margin-right: 0;

    width: 300px;
    height: 45px;
}

.tiketi-tamasha-input:focus {
    background: var(--tiketi-tamasha-theme-cool-dark-d-tr);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="datetime-local"] {
    position: relative;
    padding-right: 30px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="datetime-local"]::after {
    background-image: url('../assets/tiketi-tamasha-doodle-calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;

    content: "";

    padding-right: 7px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 5px;

    width: 20px;
    height: 20px;
}

.error-message {
    color: var(--tiketi-tamasha-cool-red);
    font-size: 12px;

    width: fit-content;
    height: 20px;
    min-height: 20px;
}

/* THIRD PARTIES */
.swal2-container {
    background: var(--tiketi-tamasha-theme-cool-dark-b-tr);
    /* backdrop-filter: blur(4px); */
}

.swal2-popup {
    background: var(--tiketi-tamasha-theme-cool-dark-b-tr) !important;
    backdrop-filter: blur(14px);
    border: 1px solid var(--tiketi-tamasha-cool-gray);
    border-radius: 14px;

    background: transparent;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;

    /* gap: 14px; */
    /* padding: 14px; */

    /* width: 500px; */
    height: fit-content;
    min-height: 120px !important;

    .swal2-title {
        color: var(--tiketi-tamasha-cool-white) !important;
        font-size: 28px !important;
        font-weight: normal !important;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        height: 65px;
        min-height: 65px;
        max-height: 65px;
    }

    .swal2-html-container {
        color: var(--tiketi-tamasha-cool-white) !important;
        font-size: 14px !important;
        font-weight: normal !important;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        margin: 0;

        width: 400px;
        height: 67px;
        min-height: 67px;
        max-height: 67px;
    }

    .swal2-actions {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 21px;
        margin: 0;

        padding-left: 14px;
        padding-right: 14px;

        height: 50px !important;
        min-height: 50px;
        max-height: 50px;

        button {
            background: var(--tiketi-tamasha-cool-white) !important;
            border: 1px solid var(--tiketi-tamasha-cool-white) !important;
            border-radius: 20px !important;
        
            color: var(--tiketi-tamasha-cool-black);
        
            font-size: 13px !important;
            font-weight: normal !important;
        
            display: flex;
            align-items: center !important;
            justify-content: center !important;
        
            cursor: pointer;
        
            margin: 0px !important;
            padding: 0px !important;
        
            gap: 4px;

            transition: 200ms;
        
            width: 122px !important;
            height: 35px !important;
        }

        button:hover {
            background: var(--tiketi-tamasha-cool-white-d) !important;
            border: 1px solid var(--tiketi-tamasha-cool-white-d) !important;
        }

        button:active {
            background: var(--tiketi-tamasha-cool-white);
            border: 1px solid var(--tiketi-tamasha-cool-white);
        }

        .swal2-confirm  {
            background: var(--tiketi-tamasha-cool-white);
            border: 1px solid var(--tiketi-tamasha-cool-white);
            border-radius: 20px;
        
            color: var(--tiketi-tamasha-cool-red);
        
            font-size: 13px;
            font-weight: normal;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            cursor: pointer;

            box-shadow: none !important;
        
            margin: 0px;
            padding: 0px;
        
            gap: 4px;
        
            width: 122px;
            height: 35px;
        }

        .swal2-cancel {
            background: var(--tiketi-tamasha-cool-white);
            border: 1px solid var(--tiketi-tamasha-cool-white);
            border-radius: 20px;
        
            /* color: var(--tiketi-tamasha-cool-blue); */
        
            font-size: 13px;
            font-weight: normal;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            cursor: pointer;
        
            margin: 0px;
            padding: 0px;
        
            gap: 4px;
        
            width: 122px;
            height: 35px;
        }
    }
}

.tiketi-tamasha-loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;

    animation: rotate 1s infinite linear;

    width: 300px;
    height: 300px;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 10px;

        width: fit-content;
        height: fit-content;

        .circle {
            background: var(--tiketi-tamasha-cool-white);
            border-radius: 50%;

            width: 10px;
            height: 10px;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tiketi-tamasha-auth-page {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    width: 100vw;
    min-height: calc(100vh - 120px);

    .tiketi-tamasha-doodle-background {
        background-size: cover;

        position: absolute;

        z-index: 1;

        width: 80%;
        height: 80%;
    }

    .tiketi-tamasha-auth-page-center {
        background: var(--tiketi-tamasha-theme-cool-dark-b-tr);
        backdrop-filter: blur(0px);

        border: 1px solid var(--tiketi-tamasha-cool-gray);
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 2px;

        z-index: 2;

        width: 90%;
        /* min-width: 400px; */
        max-width: 400px;
        min-height: 400px;

        .error-message {
            color: var(--tiketi-tamasha-cool-red);
            font-size: 12px;
        }

        .tiketi-tamasha-auth-heading {
            font-weight: normal;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            gap: 4px;

            width: inherit;
            height: 70px;

            .image {
                width: 35px;
            }

            .text {
                color: var(--tiketi-tamasha-cool-white);
                font-size: 28px;
            }
        }

        .tiketi-tamasha-form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 21px;

            width: 300px;
            height: fit-content;
            min-height: 300px;
            max-height: 500px;

            .password-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                width: inherit;
                height: fit-content;

                .tools {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: inherit;
                    height: fit-content;

                    .password-toggle {
                        color: var(--tiketi-tamasha-cool-white);
                        font-size: 13px;

                        cursor: pointer;

                        width: fit-content;
                        height: fit-content;
                    }

                    a {
                        color: var(--tiketi-tamasha-cool-blue-br);
                        font-size: 13px;

                        text-decoration: none;
                    }
                }
            }

            .auth-footer {
                color: var(--tiketi-tamasha-cool-white);
                font-size: 13px;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                margin-bottom: 14px;

                width: inherit;
                height: fit-content;

                .link-text {
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    cursor: pointer;
                }
            }

            .auth-footer.register {
                color: var(--tiketi-tamasha-cool-white);
                font-size: 13px;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                margin-bottom: 28px;

                width: inherit;
                height: fit-content;
                min-height: 70px;

                .link-text {
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    cursor: pointer;
                }
            }

            .auth-footer.register.extra {
                color: var(--tiketi-tamasha-cool-white);
                font-size: 13px;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                margin-bottom: 42px;

                width: inherit;
                height: fit-content;
                min-height: 70px;

                .link-text {
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    cursor: pointer;
                }
            }
        }
    }
}

.tiketi-tamasha-explore-page {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    width: 100vw;
    height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);

    .tiketi-tamasha-doodle-background {
        background-size: cover;

        position: absolute;

        z-index: 1;

        width: 80%;
        height: 80%;
    }

    .tiketi-tamasha-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 14px;

        z-index: 2;

        min-width: 500px;
        height: 50%;

        .section-browse-title {
            color: var(--tiketi-tamasha-cool-white);
            font-size: 13px;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 100%;
            height: 50px;
        }

        .section-elements {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            gap: 20px;

            width: 100%;
            height: fit-content;
        }
    }

    .tiketi-tamasha-section.explore {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        padding: 0;

        z-index: 2;

        min-width: 800px;
        height: calc(100vh - 120px);
        min-height: inherit;

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 500px;
            height: fit-content;
            min-height: 45px;

            input {
                width: inherit;
            }

            img {
                position: absolute;
                right: 14px;

                width: 16px;
            }
        }

        .sections {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            min-width: 800px;
            height: calc(100vh - 165px);

            .tiketi-tamasha-explore-page-section-a {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                padding: 14px;

                width: 200px;
                min-width: 120px;
                height: fit-content;

                .section-title {
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    padding-left: 14px;
                    padding-right: 14px;
                }

                .cta {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;

                    padding-left: 14px;
                    padding-right: 14px;

                    width: inherit;
                    height: fit-content;

                    .tiketi-tamasha-filters {
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid transparent;
                        border-radius: 0;
                        color: var(--tiketi-tamasha-cool-white-tr);

                        cursor: pointer;

                        margin-top: 7px;

                        width: fit-content;
                        height: fit-content;
                    }


                    .tiketi-tamasha-filters.underline {
                        border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                        color: var(--tiketi-tamasha-cool-white);
                        /* font-size: 16px; */
                    }

                    .tiketi-tamasha-filters:hover {
                        border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                    }
                }
            }

            .tiketi-tamasha-explore-page-section-b {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                padding: 14px;

                width: 600px;
                min-width: 600px;
                height: inherit;

                .section-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding-left: 14px;
                    padding-right: 14px;

                    width: inherit;
                    min-width: inherit;
                    height: fit-content;

                    .title {
                        color: var(--tiketi-tamasha-cool-white);
                        font-size: 13px;

                        width: fit-content;
                        height: inherit;
                    }

                    .cta {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        gap: 14px;

                        width: fit-content;
                        height: inherit;

                        .action {
                            color: var(--tiketi-tamasha-cool-white-tr);
                            font-size: 13px;

                            cursor: pointer;
                        }

                        .action-white {
                            color: var(--tiketi-tamasha-cool-white);
                            font-size: 13px;
                        }
                    }
                }

                .result-body {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;

                    gap: 14px;

                    padding: 14px;

                    width: 100%;
                    height: calc(100% - 20px);
                    min-height: calc(100% - 20px);

                    .result {
                        background: var(--tiketi-tamasha-theme-cool-dark-b-tr);
                        border: 1px solid var(--tiketi-tamasha-cool-gray);
                        border-radius: 14px;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        cursor: pointer;

                        width: 500px;
                        min-width: 500px;
                        height: fit-content;
                        min-height: 102px;

                        .event-description {
                            color: var(--tiketi-tamasha-cool-white-tr);
                            font-size: 12px;

                            border-left: 1px solid var(--tiketi-tamasha-cool-gray);

                            display: flex;
                            align-items: center;

                            padding-left: 14px;
                            padding-right: 14px;

                            /* white-space: nowrap; */
                            overflow: hidden;
                            text-overflow: ellipsis;

                            width: 300px;
                            height: inherit;
                            min-height: 45px;
                            max-height: 45px;
                        }
                    }

                    .result:hover {
                        border: 1px solid var(--tiketi-tamasha-cool-gray-);
                        border-radius: 14px;
                    }

                    .no-result {
                        color: var(--tiketi-tamasha-cool-white);
                        font-size: 13px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                    }

                    .loading {
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        width: inherit;
                        height: inherit;

                        .tiketi-tamasha-loading-screen {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            gap: 10px;

                            animation: rotate 1s infinite linear;

                            width: 200px;
                            height: 200px;

                            .row {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                gap: 10px;

                                width: fit-content;
                                height: fit-content;

                                .circle {
                                    background: var(--tiketi-tamasha-cool-white);
                                    border-radius: 50%;

                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }

                        @keyframes rotate {
                            from {
                                transform: rotate(0deg);
                            }

                            to {
                                transform: rotate(360deg);
                            }
                        }
                    }

                    .error-message {
                        font-size: 13px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.tiketi-tamasha-landing-page {
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	overflow: hidden;

	width: 100vw;
	height: calc(100vh - 120px);

	.tiketi-tamasha-doodle-background {
		background-size: cover;

		position: absolute;

		z-index: 1;

		width: 80%;
		height: 80%;
	}

	.tiketi-tamasha-landing-page-center {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		gap: 2px;

		z-index: 2;

		min-width: 400px;
		min-height: 400px;

		.tiketi-tamasha-landing-heading {
			color: var(--tiketi-tamasha-cool-white);

			font-size: 32px;
			font-weight: normal;

			width: fit-content;
			height: fit-content;

			b {
				font-weight: 300;
				text-decoration: underline;
			}

			.fade-text {
				font-weight: 400;
				background: linear-gradient(to right, var(--tiketi-tamasha-cool-blue), #c9e0ff);
				background-clip: border-box;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: "Poppins";
			}
		}

		.tiketi-tamasha-landing-explainer {
			color: var(--tiketi-tamasha-cool-white);
			font-size: 14px;

			text-align: center;

			width: fit-content;
			height: fit-content;
		}

		.tiketi-tamasha-btn {
            background: var(--tiketi-tamasha-cool-white);
			border: 1px solid var(--tiketi-tamasha-cool-white);
            border-radius: 20px;

            color: var(--tiketi-tamasha-cool-black);

            font-size: 13px;
            font-weight: normal;

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 14px;

            padding: 0px;

            gap: 4px;

            width: 150px;
            height: 35px;
        }
	}
}

/*
    GLORY BE TO GOD,
    TIKETI-TAMASHA - LOADING PAGE,
    BY ISRAEL MAFABI EMMANUEL
*/

.tiketi-tamasha-loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;

    animation: rotate 1s infinite linear;

    width: 300px;
    height: 300px;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 10px;

        width: fit-content;
        height: fit-content;

        .circle {
            background: var(--tiketi-tamasha-cool-white);
            border-radius: 50%;

            width: 10px;
            height: 10px;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
    GLORY BE TO GOD,
    TIKETI TAMASHA,
    EVENT DETAILS PAGE,

    BY ISRAEL MAFABI EMMANUEL
*/

.tiketi-tamasha-navbar {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 21px;
    padding-right: 21px;

    overflow-y: hidden;

    width: 100vw;
    height: 70px;

    .tiketi-tamasha-logo {
        color: var(--tiketi-tamasha-cool-gray-);

        font-size: 45px;
        font-weight: normal;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;

        width: fit-content;
        height: fit-content;

        .gray {
            color: var(--tiketi-tamasha-cool-white);
        }

        .tiketi-tamasha-logo-image {
            width: 42px;
            height: 42px;
        }

        .tiketi-tamasha-logo-title {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            width: fit-content;
            height: fit-content;

            .head {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 12px;

                width: fit-content;
                height: fit-content;
            }

            .enbold {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 12px;

                width: fit-content;
                height: fit-content;
            }
        }
    }

    .tiketi-tamasha-logo.signed {
        color: var(--tiketi-tamasha-cool-gray-);

        font-size: 45px;
        font-weight: normal;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;

        width: fit-content;
        min-width: 264px;
        height: fit-content;

        .gray {
            color: var(--tiketi-tamasha-cool-white);
        }

        .tiketi-tamasha-logo-image {
            width: 42px;
            height: 42px;
        }

        .tiketi-tamasha-logo-title {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            width: fit-content;
            height: fit-content;

            .head {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 12px;

                width: fit-content;
                height: fit-content;
            }

            .enbold {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 12px;

                width: fit-content;
                height: fit-content;
            }
        }
    }

    .tiketi-tamasha-nav-links {
        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        height: fit-content;

        .tiketi-tamasha-navbar-signed {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;
            
            overflow-y: hidden;

            width: 100%;
            height: 70px;

            .access-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 14px;

                /* padding-left: 141px; */
                width: calc(100% - 285px);
                height: inherit;

                .link {
                    border: 1px solid transparent;
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    cursor: pointer;

                    text-decoration: none;
                    width: fit-content;
                }

                .link.selected {
                    border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                }

                .link:hover {
                    border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                }
            }

            .tiketi-tamasha-navbar-signed-btns {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 21px;

                overflow-y: hidden;

                width: 264px;
                min-width: 264px;
                max-width: 264px;
                height: inherit;
            }
        }

        .tiketi-tamasha-navbar-unsigned {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;
            
            overflow-y: hidden;

            width: fit-content;
            height: 70px;

            a {
                text-decoration: none;

                width: fit-content;
                height: fit-content;
            }

            .tiketi-tamasha-navbar-unsigned-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 21px;

                overflow-y: hidden;

                width: inherit;
                height: inherit;
            }
        }

        .tiketi-tamasha-btn {
            background: var(--tiketi-tamasha-cool-white);
            border-radius: 20px;

            color: var(--tiketi-tamasha-cool-black);

            font-size: 13px;
            font-weight: normal;

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0px;
            padding: 0px;

            gap: 4px;

            width: 122px;
            height: 35px;
        }

        .tiketi-tamasha-btn.special {
            background: transparent;

            display: flex;
            align-items: center;
            justify-content: center;

            gap: 4px;

            padding: 0px;

            width: fit-content;
            height: fit-content;

            .text {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 13.333px;
                font-weight: normal;

                width: fit-content;
                height: fit-content;
            }

            .explore {
                width: 20px;
            }
        }
    }

    .tiketi-tamasha-nav-links.signed {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(100vw - 144px);
        height: fit-content;

        .tiketi-tamasha-navbar-signed {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;
            
            overflow-y: hidden;

            width: 100%;
            height: 70px;

            .access-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 14px;

                /* padding-left: 141px; */

                width: calc(100% - 264px);
                height: inherit;

                .link {
                    border: 1px solid transparent;
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;

                    cursor: pointer;

                    text-decoration: none;
                    width: fit-content;
                }
                
                .link.selected {
                    border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                }

                .link:hover {
                    border-bottom: 1px solid var(--tiketi-tamasha-cool-white);
                }
            }

            .tiketi-tamasha-navbar-signed-btns {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 21px;

                overflow-y: hidden;

                width: inherit;
                min-width: 264px;
                max-width: 264px;
                height: inherit;
            }
        }

        .tiketi-tamasha-navbar-unsigned {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;
            
            overflow-y: hidden;

            width: fit-content;
            height: 70px;

            a {
                text-decoration: none;

                width: fit-content;
                height: fit-content;
            }

            .tiketi-tamasha-navbar-unsigned-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 21px;

                overflow-y: hidden;

                width: inherit;
                height: inherit;
            }
        }

        .tiketi-tamasha-btn {
            background: var(--tiketi-tamasha-cool-white);
            border-radius: 20px;

            color: var(--tiketi-tamasha-cool-black);

            font-size: 13px;
            font-weight: normal;

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0px;
            padding: 0px;

            gap: 4px;

            width: 122px;
            height: 35px;
        }

        .tiketi-tamasha-btn.special {
            background: transparent;

            display: flex;
            align-items: center;
            justify-content: center;

            gap: 4px;

            padding: 0px;

            width: fit-content;
            height: fit-content;

            .text {
                color: var(--tiketi-tamasha-cool-white);

                font-size: 13.333px;
                font-weight: normal;

                width: fit-content;
                height: fit-content;
            }

            .explore {
                width: 20px;
            }
        }
    }

    .tiketi-tamasha-subheading {
        color: var(--tiketi-tamasha-cool-white);

        font-size: 12px;
        font-weight: normal;

        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        height: fit-content;
    }
}

.tiketi-tamasha-dialog-container {
    background: var(--tiketi-tamasha-theme-cool-dark-b-tr);
    backdrop-filter: blur(7px);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    /* padding: 21px; */

    width: 100vw;
    height: 100vh;

    .tiketi-tamasha-dialog.new-event {
        background: var(--tiketi-tamasha-theme-cool-dark-b-tr);

        border: 1px solid var(--tiketi-tamasha-cool-gray);
        border-radius: 14px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        gap: 14px;

        padding: 14px;

        overflow-y: auto;
        /* Enable vertical scrolling */
        /* Hide scrollbar for Webkit browsers */
        -webkit-overflow-scrolling: touch;
        /* Enable momentum scrolling on iOS */
        scrollbar-width: none;
        /* Hide scrollbar for Firefox */
        -ms-overflow-style: none;
        /* Hide scrollbar for IE and Edge */

        /* Hide scrollbar for Webkit browsers */
        ::-webkit-scrollbar {
            display: none;
        }

        width: 450px;
        max-height: 95vh;
        /* Limit the height to 90% of the viewport height */
        overflow-y: auto;
        /* Enable vertical scrolling */

        .image-section {
            border-radius: 7px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 14px;

            position: relative;

            width: 100%;
            height: fit-content;
            min-height: 300px;

            .image-input {
                display: none;
            }

            .custom-upload {
                background: transparent;
                border: 1px dashed var(--tiketi-tamasha-cool-gray);
                border-radius: 7px;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                cursor: pointer;

                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;

                width: 100%;
                height: 300px;
                min-height: 300px;

                img {
                    width: 50px;
                }

                .text {
                    color: var(--tiketi-tamasha-cool-gray);
                    font-size: 13px;
                    font-weight: normal;
                }
            }

            .custom-uploaded {
                background: transparent;
                border: 1px dashed var(--tiketi-tamasha-cool-gray);
                border-radius: 7px;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                cursor: pointer;

                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;

                width: 100%;
                height: 300px;

                img {
                    display: none;
                    width: 50px;
                }

                .text {
                    color: transparent;
                    font-size: 13px;
                    font-weight: normal;

                    /* display: none; */
                }
            }

            .custom-uploaded:hover {
                background: var(--tiketi-tamasha-theme-cool-dark---);
                backdrop-filter: blur(7px);

                .text {
                    color: var(--tiketi-tamasha-cool-white-tr);
                }
            }

            .upload-image {
                width: 100%;
            }

            .uploaded {
                border-radius: 7px;
                object-fit: cover;

                width: 100%;
                max-height: 300px;
                min-height: 300px;
            }
        }

        .dialog-body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 14px;

            width: 100%;
            height: calc(100% - 300px);
            min-height: 910px;

            .linked-data {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                gap: 14px;

                width: 100%;
                height: fit-content;
                min-height: 260px;

                .title {
                    color: var(--tiketi-tamasha-cool-white);
                    font-size: 13px;
                }

                .inputs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    gap: 14px;
                    
                    width: 100%;
                    height: fit-content;
                    min-height: 45px !important;

                    input {
                        margin: 0;
                        width: 100%;
                    }
                }
            }

            .linked-data.event-title-details {
                min-height: 200px;
            }

            .linked-data.event-short-details {
                min-height: 140px;
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 21px;

                width: 100%;
                height: fit-content;
                min-height: 104px;

                .tiketi-tamasha-btn.auth {
                    margin: 0;

                    width: 100%;
                }
            }
        }
    }
}

/*
    GLORY BE TO GOD,
    TIKETI TAMASHA,
    PAYMENT CARD,

    BY ISRAEL MAFABI EMMANUEL
*/

.tiketi-tamasha-payment-card {
    background: var(--tiketi-tamasha-theme-cool-dark-b-tr);

    border: 1px solid var(--tiketi-tamasha-cool-gray);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;

    gap: 7px;

    padding-left: 14px;

    width: 430px;
    min-width: 430px;
    max-width: 430px;
    height: 150px;
    min-height: 150px;
    
    .card-image {
        width: 120px;
    }

    .card-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        min-width: fit-content;
        height: fit-content;

        .title {
            color: var(--tiketi-tamasha-cool-white);
            font-size: 15px;
        }

        .status, .method, .transaction, .time, .amount {
            color: var(--tiketi-tamasha-cool-white-tr);
            font-size: 12px;

            width: inherit;
        }

        .status.paid {
            .indicator {
                color: var(--tiketi-tamasha-cool-green);
            }
        }

        .status.unpaid {
            .indicator {
                color: var(--tiketi-tamasha-cool-red);
            }
        }
    }
}

.tiketi-tamasha-payment-card:hover {
    border: 1px solid var(--tiketi-tamasha-cool-gray-);
    border-radius: 14px;
}

/*
    GLORY BE TO GOD,
    TIKETI TAMASHA,
    TICKET CARD,

    BY ISRAEL MAFABI EMMANUEL
*/

.tiketi-tamasha-ticket-card {
    background: var(--tiketi-tamasha-theme-cool-dark-b-tr);

    border: 1px solid var(--tiketi-tamasha-cool-gray);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;

    gap: 7px;

    padding-left: 14px;

    width: 350px;
    min-width: 350px;
    max-width: 350px;
    height: 100px;
    min-height: 100px;
    
    .card-image {
        width: 95px;
    }

    .card-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        min-width: fit-content;
        height: fit-content;

        .title {
            color: var(--tiketi-tamasha-cool-white);
            font-size: 15px;
        }

        .type, .time {
            color: var(--tiketi-tamasha-cool-white-tr);
            font-size: 12px;

            width: inherit;
        }
    }
}

.tiketi-tamasha-ticket-card:hover {
    border: 1px solid var(--tiketi-tamasha-cool-gray-);
    border-radius: 14px;
}