/* Full Page Background */

.create-event-container {
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000, #062b7b);
    color: white;
    padding: 150px;
}

/* Card Layout */
.event-card {
    display: flex
;
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 80px;
    border-radius: 12px;
    width: 100%;
    max-width: 950px;
    gap: 50px;
    background-color: rgba(2, 17, 61, 0.76);
}

/* Left Section - Image Upload */
.event-image-section {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-image {
    width: 220px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}

.image-placeholder {
    width: 450px;
    height: 450px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 12px;
}

.file-input {
    margin-top: 15px;
    color: rgb(0, 0, 0);
}

/* Right Section - Form Inputs */
.event-form-section {
    flex: 2;
    padding-left: 25px;
}

h2 {
    font-size: 56px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #0058ff, #c9e0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    background: linear-gradient(to right, #0058ff, #c9e0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 20px;
}

/* Input Fields */
input, textarea {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

/* Date & Time Section */
.date-time-section {
    display: flex;
    gap: 15px;
}

/* Event Options */
.event-options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.event-options label {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

/* Submit Button */
button {
    width: 100%;
    padding: 14px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover {
    background: #cc5500;
}
