.purchase-container {
    text-align: center;
    padding: 50px;
    background: #f9f9f9;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  label {
    font-size: 2rem;
    font-weight: bold;
}
  
  input {
    width: 200px;
    padding: 19px;
    text-align: center;
    margin: 12px;
    /* border-radius: 6px; */
}
  
  button {
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  