<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 - Page Not Found</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/tiketi-tamasha-icon-high-res-white.svg') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>
        <div class="tiketi-tamasha">
            <div class="tiketi-tamasha-logo"><b class="gray">404</b>&nbsp;-&nbsp;Page Not Found</div>
            <div class="tiketi-tamasha-subheading">The page you are looking for does not exist.</div>
        </div>
    </body>
</html>